<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

<title>Mustangg Energy</title>
</head>

<body>
<div id="containerone">

</div>

<div id="containertwo">
	<div id="containerthree">
	<div id="header">
		<div id="logo">
		</div>
		<div id="t-holder">
			<div id="t-middle">
				<span id="t-heading">
				Ready & Reliable
				</span>
				<br/>
				<span id="t-middle-st">
				Building Reputation through Remarkable Service
				</span>
			</div><!--t-middle-->
            
            <div id="t-right">
			Offices: 123 Singing Hills Rd.,<br/>
			Parker, USA<br/>
			<span class="t-right-b">Phone:</span> 123.456.7890<br/>
			<span class="t-right-b">Fax:</span> 987.654.3210<br/>
			</div><!--t-right-->
		</div><!--t-holder-->

	</div><!--header-->
	</div><!--container-three-->
    <div class="clear">
    </div>
    <div id="containerfour">
     <div id="top-cover">
     </div>
     
     
     <div id="top-nav-c">
     <div id="t-nav">
    <ul>
        <li>
        <a href="#">
    		Home
        </a>
    	</li>
        <li>
        <a href="#">
         	Products 
        </li>    
         <li> 
         <a href="#">           
            The Company 
         </a>
         </li>
         <li> 
         <a href="#">         
            Services
         </a>       
          </li>
          <li>  
          <a href="#"> 
            FAQs
          </a>         
		</li>           
           <li> 
           <a href="#"> 
            Photo Gallery
           </a>         
        </li>
        <li> 
        <a href="#">          
            Contact
        </a>    
        </li>
   </ul>   
    </div>
    </div>
     
    <div id="wrapper">
    	<div id="slider">
    		<img src="images/sl-image.png" />
    	</div>
    	<div class="divider">
   		</div>
      
       <div id="content">
       <div id="content-holder">
        <div id="left-con">
       <h1>Welcome to Mustang Energy</h1>
       
       Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation uorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <br/>
       <p>
       Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
       </p>
       
         <h1>What we do</h1>
       
       
       Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation uorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
       </div><!--left-con-->
       <div id="right-con">
       <div id="top-news">
       </div>
     
       <div id="news-title">
       Mustang Energy News
       </div>
        <div id="news-holder">
        	<div id="news-holder-bg">
       			<div id="news-heading">
       				<a href="#">Lorem ipsum dolor sit amet consec tetuer adipiscing elit</a>
      		   </div>
       		   <div class="news-text">
       		  Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt.
               </div>
               
               	<div id="news-heading">
       				<a href="#">Facilisis at vero eros et accumsan  et iusto odio</a>
      		   </div>
       		   <div class="news-text">
       		 Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
               </div>
               
       		</div>
       </div>
      
       <div id="bottom-news">
       </div>
       
       </div><!--right-con-->
      
       
       </div><!--content-holder-->
       
        <div class="divider-down">
   		</div>
        
        <div id="imgs">
         <div id="l-imgs">
        <div class="imgp">
        <img src="images/g-img-1.png" />
        </div>
        </div>
        <div id="r-imgs">
        <div class="imgq">
        <img src="images/g-img-2.png" />
        </div>
        <div class="imgr">
        <img src="images/g-img-3.png" />
        </div>
        </div>
        </div>
        
        <div class="divider-down">
   		</div>
        
       </div><!--content-->
       
       <div id="bottom-img-hld">
       
       </div>
    
    </div><!--wrapper-->
     <div id="bottom-cover">
     </div>
    </div><!--content-->
    <div id="b-nav">
    <ul>
        <li>
        <a href="#">
    		Home
        </a>
    	</li>
        <li>
        <a href="#">
         	Products 
        </li>    
         <li> 
         <a href="#">           
            The Company 
         </a>
         </li>
         <li> 
         <a href="#">         
            Services
         </a>       
          </li>
          <li>  
          <a href="#"> 
            FAQs
          </a>         
		</li>           
           <li> 
           <a href="#"> 
            Photo Gallery
           </a>         
        </li>
        <li> 
        <a href="#">          
            Contact
        </a>    
        </li>
   </ul>   
    </div>
    <div id="copyright">
    Copyrights ©2012. All rights reserved.
    </div>
</div><!--container-four-->

</body>
</html>
